@font-face {
  font-family: 'iconfont';  /* project id 1249520 */
  src: url('//at.alicdn.com/t/font_1249520_cveasynzrzi.eot');
  src: url('//at.alicdn.com/t/font_1249520_cveasynzrzi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1249520_cveasynzrzi.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1249520_cveasynzrzi.woff') format('woff'),
  url('//at.alicdn.com/t/font_1249520_cveasynzrzi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1249520_cveasynzrzi.svg#iconfont') format('svg');
}