/**
 * base Variables
 */

  /* Prefix */
$css-prefix: xx;

/*base color*/
$base-color: #00B0FF;
$base-color-light: #40C4FF;
$base-color-dark: #0091EA;

/*color tip*/
$color-primary: #00B0FF;
$color-error: #ff4757;
$color-warn: #FFA726;
$color-success: #2ed573;
$color-white: #fff;
$color-info: #40C4FF;
$color-disabled: #d2d2d2;

/*font style*/
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-color-default: #606266;

/*btn style*/
$btn-bg-normal: #FFF;
$btn-bg-disabled: #f7f7f7;
$btn-border-normal-color:#d3d4d6;
$btn-border-disable-color: #ececec;
$btn-border-radius: 4px;
$btn-padding-base: 6px 16px;

